[user]
    name = tsw303005
    email = tsw303005@gmail.com
[color]
    ui = true
[alias]
    lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --